.header {
    position: relative;
    display: block;
}

.bg-image {
    max-width: 100%;
}

.center-inside-image {
    position: absolute;
    max-width: 30%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    -webkit-filter: drop-shadow(10px 10px 10px #222);
    filter: drop-shadow(10px 10px 10px #222);
}

.main-quote {
    font-family: 'Luckiest Guy', cursive;
    font-size: 75px;
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
}

.bg-lightgray {
    background-color: lightgray;
}

.navbar-custom {
    color: red;
    background-color: red;
    -webkit-filter: drop-shadow(2px 2px 5px #222);
    filter: drop-shadow(2px 2px 5px #222);
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255, 255, 255, 1);
}

.navbar-custom .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: white;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255,255,255);
} 
