.header {
    text-align: center;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.bg-image {
    max-width: inherit;
    max-height: inherit;
    min-width: inherit;
    min-height: inherit;
}

.bg-lightgray {
    background-color: lightgray;
}

.center-inside-image {
    position: absolute;
    transform: translate(-50%, -40%);
    top: 40%;
    left: 50%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.navbar-custom {
    background-color: red;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}

.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: white;
}