.header {
    position: relative;
    display: block;
}

.bg-image {
    max-width: 100%;
}

.center-inside-image {
    position: absolute;
    max-width: 30%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.main-quote {
    font-family: 'Luckiest Guy', cursive;
    font-size: 75px;
}

.bg-lightgray {
    background-color: lightgray;
}

.navbar-custom {
    background-color: red;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}

.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: white;
}