.MyBorder{
    border: black 10px solid;
}

.parallax{
    background: url('../images/parallax.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;    
}

.parallaxBar{
    background: url('../images/parallax.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;  
    height: 10px
}
.header {
    position: relative;
    display: block;
}

.bg-image {
    max-width: 100%;
}

.center-inside-image {
    position: absolute;
    max-width: 30%;
    transform: translate(-50%, -55%);
    left: 50%;
    top: 55%;

    -webkit-filter: drop-shadow(10px 10px 10px #222);
    filter: drop-shadow(10px 10px 10px #222);
}

.main-quote {
    font-family: 'Luckiest Guy', cursive;
    font-size: 70px;
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
}

.main-quote-white {
    color: white;
    font-family: 'Luckiest Guy', cursive;
    font-size: 90px;
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
}

.btn-default-cst {
    background-color: red;
    color:#FFF;
    border-color: #2F3E48;
}
 
.btn-default-cst:hover,
.btn-default-cst:focus,
.btn-default-cst:active,
.btn-default-cst.active,
.open
.dropdown-toggle.btn-default-cst {
    background-color: #2F3E48; 
    color:#FFF;
    border-color: grey;
}

.trailer-text {
    font-family: 'Luckiest Guy', cursive;
    color: whitesmoke;
    font-size: 40px;
    -webkit-filter: drop-shadow(1px 1px 1px #222);
    filter: drop-shadow(1px 1px 1px #222);
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.bg-lightgray {
    background-color: lightgray;
}

.trailer-area {
    background-color: rgb(27, 27, 27);
}

.navbar-custom {
    color: red;
    background-color: red;
    -webkit-filter: drop-shadow(2px 2px 5px #222);
    filter: drop-shadow(2px 2px 5px #222);
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255, 255, 255, 1);
}

.navbar-custom .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: white;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255);
}

.blanco{
    background-color: floralwhite;
}
